html { 
    background: url(assets/img/bg3.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: linear-gradient(to right, rgba(36,31,31,1) 0%, rgba(36,31,31,0.9) 32%, rgba(74,71,70,0.7) 100%);
    color: white;
}

main {
  display: flex;
  justify-content: end;
  flex-direction: column;
  align-items: center;
  flex-flow: column;

  text-align: center;
  overflow:hidden;
  position: relative;
  height: 100vh;
  /* background: rgba(36,31,31, 0.2); */
  color: #fff;
  text-align: center;
}

.hello li {
    display: inline-block;
}

.bio {
    margin: 0 auto;
    width: 450px;
}

#details {
    float: right;
    line-height: 4px;
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 6s; /* Firefox */
    -webkit-animation: fadein 6s; /* Safari and Chrome */
    -o-animation: fadein 6s; /* Opera */
}

#pic {
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 10%;
	-webkit-animation: fadeInScale 1s linear 10ms backwards;
	-moz-animation: fadeInScale 1s linear 10ms backwards;
	-ms-animation: fadeInScale 1s linear 10ms backwards;
	animation: fadeInScale 1s linear 10ms backwards;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	-ms-transform: scale(1) rotate(0deg);
	transform: scale(1) rotate(0deg);
}

.links {
    clear: both;
}

a {
    display: inline-block;
    margin-left: 10px;
    color: white;
    text-decoration: none;
    font-family: 'Signika', sans-serif;
    font-size: 1.5em;
    font-weight: 300;
    animation: fadein 8s;
    -moz-animation: fadein 8s; /* Firefox */
    -webkit-animation: fadein 8s; /* Safari and Chrome */
    -o-animation: fadein 8s; /* Opera */
}

.w3-container p a {
    color: black;
}

@media (max-width:600px)  { 
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */     
    main {
        height: 600px;
    }
    .bio {
        width: 150px;
    }
    .hello {
        margin-left: -45px;
    }
    #exp-third {
        line-height: 20px;
    }
    h2 {
        line-height: 24px;
    }
    #details {
        display: block;
        text-align: center;
        line-height: 0px;
    }
    a {
        display: block;
    }
    .titleCont {
        display: none;
    }
}
  
.titleCont{position:relative;}
  
.main-title {
    padding: .3em 1em .25em;    
    font-weight: 300;
    font-size: 30px;
    color: white;
    font-family: 'Bellefair', serif;
    position:relative;
    line-height:1.3;
}
  
.dot{
    width:3px;
    height:2px;
    background-color:white;
    position:absolute;
    opacity:0.3;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInScale {
	0% {
		opacity: 0;
		-webkit-transform: scale(0) scale(0.5);
	}
	100% {
		opacity: 1;
		-webkit-transform: scale(1) scale(1);
	}
}